#pattern{
    background-image: url("img/pattern.png");
    background-color: skyblue;
    background-size: contain;
    height: 100px;
}

#logo{
    width: 180px;
    position: relative;
    top: 50px
}

#info-text{
    font-size: medium;
    line-height: 3px;
    color: grey;
}

span{
    color: skyblue;
}

.footer-img{
    margin-top: 3px;
    line-height: 3px;
    font-size: small;
}

.evidence{
    background-color: yellow;
}

.container{
    margin-top: 30px;
}

.list{
    padding-left: 20px;
    padding-top: 30px;
}

#table{
    border-spacing: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-table{
    color: white;
}

.row{
    background-color: lightskyblue;
}

.cell{
    background-color: lightblue
}

h3{
    color: grey;
    margin-top: 50px;
}

.monitor{
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

.graph{
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

h2{
    color: white;
    position: relative;
    left: 20px;
}